* {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

body {
  background: #2b1b12;
  color: white;
}

/* NAVBAR */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #3b261a;
}

header a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

/* HOME */
.home {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-text h2 {
  font-size: 40px;
}

.home-text button {
  margin-top: 20px;
  padding: 10px 20px;
  background: orange;
  border: none;
  cursor: pointer;
}

/* MENU */
.menu {
  padding: 40px;
  text-align: center;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* CARD */
.card {
  background: #4b2e20;
  padding: 15px;
  border-radius: 10px;
  width: 200px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card button {
  margin-top: 10px;
  padding: 8px;
  background: orange;
  border: none;
  cursor: pointer;
}